<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{%static "C:/Users/PRAKHAR/Desktop/web/django/studentinfoproj/templates/testapp/sinfo.css"%}">
 </head>
  <body>
    <div class="container" align='center'>
      <h1>Student Information</h1><hr>
      {% if students%}
        {%for student in students%}
          <h2>{{student.name}}'s Information</h2><hr>
          <ul>
            <li>Student Rollno:{{student.rollno}}</li>
            <li>Student DOB:{{student.dob}}</li>
            <li>Student MARKS:{{student.marks}}</li>
            <li>Student Email:{{student.email}}</li>
            <li>Student Address:{{student.address}}</li>
          </ul>
          <br>
          {%endfor%}
        {%else%}
        <p>Student Records Are not Available</p>
      {%endif%}

    </div>

  </body>
</html>
